:root {
    /* COLORES */
    --principal: #0f7ece; 
    --principal-light: #c7dff1; 
    --titulo: #3d4852; 
    --body: #8795a1; 
    --background: #fafafa; 
    --bodylight: #c7d3de; 
    --inputbg: #f1f1f1; 
    --gradient: linear-gradient(15deg, #0f7ece 0%, #7895fb 69.27%, #81c1fd 84.38%, #8a88ff 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

/*---------- HEADER---------- */

header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px 16px 100px;
    background-color: #2c2c2c;
}

/*---------- Header--nav---------- */

header nav, ul {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

header li, a {
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    list-style: none;
    text-decoration: none;
    color: var(--principal-light)
}

/*---------- Header--button---------- */

.Header--button {
    padding: 8px 24px 8px 24px;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--titulo);
    background-color: #FFFFFF;
    border-radius: 8px;
}
