:root {
    /* COLORES */
    --principal: #0f7ece; 
    --principal-light: #c7dff1; 
    --titulo: #3d4852; 
    --body: #8795a1; 
    --background: #fafafa; 
    --bodylight: #c7d3de; 
    --inputbg: #f1f1f1; 
    --gradient: linear-gradient(15deg, #0f7ece 0%, #7895fb 69.27%, #81c1fd 84.38%, #8a88ff 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Prompt', sans-serif;
}

/*---------- HEADER---------- */

header {
    position: absolute;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 100px 16px 100px;
}

/*---------- Header--nav---------- */

header nav, ul {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
}

header li, a {
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    list-style: none;
    text-decoration: none;
    color: var(--principal-light)
}

/*---------- Header--button---------- */

.Header--button {
    padding: 8px 24px 8px 24px;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Prompt', sans-serif;
    border: none;
    color: var(--titulo);
    background-color: #FFFFFF;
    border-radius: 8px;
}

/*---------- main--hero---------- */

.hero-container {
    width: 100%;
    display: flex;
    height: 80vh;
    padding: 143px 100px 0px 100px;
    display: flex;
    background-image: url('./assets/Background-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero--content {
    width: 100%;
    height: auto;
    justify-content: space-between;
}

.hero--content h1 {
    width: 60%;
    font-size: 8.0rem;
    font-weight: 700;
    line-height: 90px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.hero--content span {
    color: var(--principal-light);
}

.hero--content p {
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.hero--button { 
    padding: 16px 32px 16px 32px;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    font-family: 'Prompt', sans-serif;
    color: var(--titulo);
    background-color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

/*---------- TESTIMONIOS---------- */

.testimonials {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 64px 100px 64px 100px;
    background-color: var(--background);
}

.testimonials h2 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 84px;
    color: var(--titulo);
    margin-bottom: 32px;
}

.testimonials--cards-container {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    gap: 24px;
}
.testimonials .card-item {
    width: fit-content;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    border-radius: 16px;
    background-color: #FFFFFF;
}

.card-item h3 {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 36px;
    color: var(--titulo);
}

.card-item .tag {
    width: fit-content;
    padding: 2px 8px 2px 8px;
    font-family: 'Prompt', sans-serif;
    font-size: 2.0rem;
    font-weight: 500;
    line-height: 30px;
    color: var(--body);
    border-radius: 5px;
    border: none;
    background-color: var(--background);
}

.card-item p {
    width: 305px;
    font-size: 2.0rem;
    font-weight: 300;
    line-height: 30px;
    color: var(--body);
}